<h1>StatMaster</h1>
<%= react_component('HelloWorld', props: @hello_world_props, prerender: false) %>
<%= react_component('LolButton', props: @hello_world_props, prerender: false) %>
<%= react_component('StatTable', props: @table, prerender: false) %>
